
.box {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    padding: 2rem 1.5rem;
    font-family: var(--font);
    overflow-y: scroll;
    outline: none;
}

.icon {
    margin-top: 7.5rem;
}

.title {
    margin-top: 1rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: var(--color-dark-slate-grey);
}

.desc {
    color: var(--color-charcoal-grey);
}

.link {
    color: var(--color-dark-slate-grey);
    font-weight: 700;
}

.submit {
    margin-top: auto;
    margin-bottom: 2rem;
}


@media (min-width: 40em) {
    
    .box {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        bottom: auto;
        right: auto;
        width: 31.5em;
        border-radius: 2rem;
        padding: 3rem 4rem 4rem;
    }

    .icon {
        margin-top: 0;
    }

    .title {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .submit{
        margin-top: 1rem;
        margin-bottom: 0;
    }
    
}