
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    height: 3.375rem;
    background-color: var(--color-dark-slate-grey);
    color: var(--color-white);
    border-radius: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
}